In [1]:
import pandas as pd

df = pd.DataFrame({"names":["stephen", "muiru"], "object":["human", "male"]})

print(df);

     names object
0  stephen  human
1    muiru   male

In [2]:
df.index = ["row 1", "row 2"]

print(df)

         names object
row 1  stephen  human
row 2    muiru   male

In [3]:
survey = pd.read_csv("./files/annual-enterprise-survey-2023-financial-year-provisional.csv", index_col="Variable_code")

survey.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [4]:
survey.iloc[0]

Year                                                                        2023
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                     930995
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: H01, dtype: object

In [5]:
survey.iloc[2:,0]

Variable_code
H05    2023
H07    2023
H08    2023
H09    2023
H10    2023
       ...
H37    2013
H38    2013
H39    2013
H40    2013
H41    2013
Name: Year, Length: 50983, dtype: int64

In [6]:
survey.iloc[2:4]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...

In [7]:
survey.iloc[2:6,[1,2,3,4]]

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units
Variable_code,,,,
H05,Level 1,99999,All industries,Dollars (millions)
H07,Level 1,99999,All industries,Dollars (millions)
H08,Level 1,99999,All industries,Dollars (millions)
H09,Level 1,99999,All industries,Dollars (millions)

In [8]:
survey.iloc[[2,3,4,-2],[0,1,2,4,5,-1, -2]]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Units,Variable_name,Industry_code_ANZSIC06,Value
Variable_code,,,,,,,
H05,2023,Level 1,99999,Dollars (millions),"Interest, dividends and donations",ANZSIC06 divisions A-S (excluding classes K633...,84354
H07,2023,Level 1,99999,Dollars (millions),Non-operating income,ANZSIC06 divisions A-S (excluding classes K633...,25010
H08,2023,Level 1,99999,Dollars (millions),Total expenditure,ANZSIC06 divisions A-S (excluding classes K633...,832964
H40,2013,Level 3,ZZ11,Percentage,Return on total assets,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",5

In [9]:
survey.iloc[40:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H12,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Salaries and wages paid,Financial performance,6858,ANZSIC06 division A
H13,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Redundancy and severance,Financial performance,2,ANZSIC06 division A
H19,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Purchases and other operating expenses,Financial performance,33623,ANZSIC06 division A
H20,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Non-operating expenses,Financial performance,1156,ANZSIC06 division A
H21,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Opening stocks,Financial performance,14144,ANZSIC06 division A
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [10]:
survey.loc[:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [11]:
survey.loc["H40",["Value", "Year", "Industry_code_ANZSIC06"]]

              Value  Year                             Industry_code_ANZSIC06
Variable_code
H40               4  2023  ANZSIC06 divisions A-S (excluding classes K633...
H40               3  2023                                ANZSIC06 division A
H40               4  2023               ANZSIC06 groups A011, A012, and A013
H40               4  2023               ANZSIC06 groups A011, A012, and A013
H40               3  2023                      ANZSIC06 groups A014 and A015
...             ...   ...                                                ...
H40               8  2013  ANZSIC06 division S (excluding classes S9540, ...
H40              15  2013               ANZSIC06 groups S941, S942, and S949
H40              15  2013               ANZSIC06 groups S951, S952, and S953
H40               5  2013                                ANZSIC06 group S955
H40               5  2013  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[1529 rows x 3 columns]

In [12]:
survey.loc[(survey.Year >= 2013) & (survey.Industry_aggregation_NZSIOC == "Level 3") & (survey.Variable_category == "Financial ratios")]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H34,2023,Level 3,AA11,Horticulture and Fruit Growing,Dollars,Total income per employee count,Financial ratios,243600,"ANZSIC06 groups A011, A012, and A013"
H35,2023,Level 3,AA11,Horticulture and Fruit Growing,Dollars,Surplus per employee count,Financial ratios,31800,"ANZSIC06 groups A011, A012, and A013"
H36,2023,Level 3,AA11,Horticulture and Fruit Growing,Percentage,Current ratio,Financial ratios,83,"ANZSIC06 groups A011, A012, and A013"
H37,2023,Level 3,AA11,Horticulture and Fruit Growing,Percentage,Quick ratio,Financial ratios,73,"ANZSIC06 groups A011, A012, and A013"
H39,2023,Level 3,AA11,Horticulture and Fruit Growing,Percentage,Return on equity,Financial ratios,8,"ANZSIC06 groups A011, A012, and A013"
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [13]:
survey.loc[survey.Year.isnull()]

Empty DataFrame
Columns: [Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZSIOC, Units, Variable_name, Variable_category, Value, Industry_code_ANZSIC06]
Index: []

In [14]:
survey.loc[survey.Year.isin([2014, 2012]) & (survey["Industry_aggregation_NZSIOC"] == "Level 1")]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2014,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,"573,570",ANZSIC06 divisions A-S (excluding classes K633...
H04,2014,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,"502,104",ANZSIC06 divisions A-S (excluding classes K633...
H05,2014,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,"54,641",ANZSIC06 divisions A-S (excluding classes K633...
H07,2014,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,"16,826",ANZSIC06 divisions A-S (excluding classes K633...
H08,2014,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,"506,390",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H36,2014,Level 1,RS,"Arts, Recreation and Other Services",Percentage,Current ratio,Financial ratios,156,ANZSIC06 divisions R and S
H37,2014,Level 1,RS,"Arts, Recreation and Other Services",Percentage,Quick ratio,Financial ratios,146,ANZSIC06 divisions R and S
H39,2014,Level 1,RS,"Arts, Recreation and Other Services",Percentage,Return on equity,Financial ratios,11,ANZSIC06 divisions R and S
H40,2014,Level 1,RS,"Arts, Recreation and Other Services",Percentage,Return on total assets,Financial ratios,8,ANZSIC06 divisions R and S
H41,2014,Level 1,RS,"Arts, Recreation and Other Services",Percentage,Liabilities structure,Financial ratios,70,ANZSIC06 divisions R and S

In [15]:
survey.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_name', 'Variable_category',
       'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [16]:
survey.shape

(50985, 9)

In [19]:
year_mean = survey.Year.mean()

centered_mean = survey.Year.map(lambda year : year - year_mean

In [20]:
centered_mean.mean() #this means should be zero.

0.0

In [24]:
year_mean = survey.Year.mean()

def remean_year_col(row):
    row.Year = row.Year - year_mean
    return row

survey.apply(remean_year_col, axis="columns")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,5.0,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,5.0,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,5.0,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,5.0,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,5.0,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H37,-5.0,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,-5.0,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,-5.0,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,-5.0,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,-5.0,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [29]:

survey.Value.describe()

count     50985
unique    13673
top           C
freq       2285
Name: Value, dtype: object

In [32]:
survey.Year.median()

2018.0

In [33]:
survey.Year.unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013])

In [34]:
series = pd.Series(data=None, index=survey.Year.unique())
series

2023   NaN
2022   NaN
2021   NaN
2020   NaN
2019   NaN
2018   NaN
2017   NaN
2016   NaN
2015   NaN
2014   NaN
2013   NaN
dtype: float64

In [41]:
survey.Year.value_counts()

Year
2023    4635
2022    4635
2021    4635
2020    4635
2019    4635
2018    4635
2017    4635
2016    4635
2015    4635
2014    4635
2013    4635
Name: count, dtype: int64

In [44]:
survey.groupby("Year").Year.count()

Year
2013    4635
2014    4635
2015    4635
2016    4635
2017    4635
2018    4635
2019    4635
2020    4635
2021    4635
2022    4635
2023    4635
Name: Year, dtype: int64

In [46]:
survey

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [58]:
survey.groupby(["Year", "Variable_name"]).head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
H38,2013,Level 4,CC211,Textile and Leather Manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,22,"ANZSIC06 groups C131, C132, and C133"
H14,2013,Level 1,KK,Financial and Insurance Services,Dollars (millions),Salaries and wages to self employed commission...,Financial performance,552,ANZSIC06 division K
H14,2013,Level 3,KK11,Finance,Dollars (millions),Salaries and wages to self employed commission...,Financial performance,54,"ANZSIC06 groups K621, K622, K623, and K624"
H14,2013,Level 4,KK111,Banking and Financing,Dollars (millions),Salaries and wages to self employed commission...,Financial performance,C,"ANZSIC06 groups K621, K622, and K623"
H14,2013,Level 4,KK112,Financial Asset Investing,Dollars (millions),Salaries and wages to self employed commission...,Financial performance,C,ANZSIC06 group K624

In [59]:
survey.Year.sort

AttributeError: 'Series' object has no attribute 'sort'