In [2]:
import pandas as pd
from matplotlib import pyplot as plt


data = pd.read_csv("./files/Electric_Production.xls")
data.head()

       DATE  IPG2211A2N
0  1/1/1985     72.5052
1  2/1/1985     70.6720
2  3/1/1985     62.4502
3  4/1/1985     57.4714
4  5/1/1985     55.3151

In [3]:
data.DATE.describe

<bound method NDFrame.describe of 0       1/1/1985
1       2/1/1985
2       3/1/1985
3       4/1/1985
4       5/1/1985
         ...
392     9/1/2017
393    10/1/2017
394    11/1/2017
395    12/1/2017
396     1/1/2018
Name: DATE, Length: 397, dtype: object>

In [4]:
data.DATE = pd.to_datetime(data.DATE)

In [5]:
data.DATE.describe

<bound method NDFrame.describe of 0     1985-01-01
1     1985-02-01
2     1985-03-01
3     1985-04-01
4     1985-05-01
         ...
392   2017-09-01
393   2017-10-01
394   2017-11-01
395   2017-12-01
396   2018-01-01
Name: DATE, Length: 397, dtype: datetime64[ns]>

In [ ]:
data.sort_values(inplace=True, )